Data/Test/
Data/Training/
Data/Validation/
Literature/
Data/vgg_feats.mat
Data/Embeddings/GoogleNews-vectors-negative300.bin.gz
Data/Embeddings/glove.6B.300d.txt
*.npy
*.pkl
*.pyc
*.npz
BugReports/
*val_ranks.txt
